*.log
*.aux
*.bbl
*.blg
*.gz
*.toc
*.ods
*.nav
*.out
*.snm
*.pdf
*.jpg
!/Diagrams/Numerical_Results/*.pdf
!/TFR_Chapters/William_Graham_ThesisFormulationReport.pdf
*/__pycache__
/PhD-QuantumGraphNumerics/*Results*.csv
/PhD-QuantumGraphNumerics/TFR_*.csv
