*.log
*.aux
*.bbl
*.blg
*.gz
*.toc
*.ods
*.nav
*.out
*.snm
*.pdf
*.jpg
!/Diagrams/Numerical_Results/*.pdf
!/TFR_Chapters/William_Graham_ThesisFormulationReport.pdf
*/__pycache__
/QG_Code/*.csv
/QG_Code/*/images/
/QG_Code/IdentityCheckingScript.py
*.xopp~
*.xopp
*.npz
*.xml
*.ipynb_checkpoints/
*EvalDump/
*StiffnessMatrixDump/
*__pycache__/
